h1 {
    text-align: center;
  }


img{
    width: 500px;
    display: block;
    margin: auto;
}

p{
    font-size: 20px;
    letter-spacing: 1px;
    margin: 10px;
}

h3{
    margin: 5px;
}

.datocurioso{
    width: auto;
}

.container{
    background-color: black;
    color: white;
}